%tr
  %td.span2
    = link_to message.to_user.nickname, lounge_profile_path(message.from_user.nickname)
  %td.span5
    = link_to message.subject, view_lounge_message_path(message)
  %td.span3
    = "#{l(message.sent_at.in_time_zone(current_user.user_profile.timezone)) rescue l(message.sent_at) }"
  %td.span1