= render 'admin/orders/shared/masthead'
%table.table.table-bordered.table-striped.table-highlight
  %thead
    %tr
      %th #
      %th User
      %th Amount
      %th Status
      %th Card #
      %th Message
      %th Created
      %th Functions
  %tbody
    = render :partial => 'orders'
= paginate @orders, window: 2