// Place all the styles related to the lounge/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lounge-variables";
@import "lounge-global";


body {
  padding-top: 75px;
}

/* large h2 type text with dropshadow */
.big-shadow {
  font-size:42px;
  font-family: 'museo_sans_900regular';
  text-transform:uppercase;
  font-weight:bold;
  font-style: normal;
  color:#422e4b;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  text-shadow:2px 2px #FFF;
}

#wrap {
  //background-color: #000;
  background-image: url('/assets/lounge/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* navbar on home page */
.navbar .container {
  height: $header_height;

  @include header-logo-text;

  .login {
    margin: 10px 0px 0px 0px;
    a {
      color: #fff;
    }
  }
  .options {
    input[type=checkbox] {
      margin-top: 4px;
    }
    label {
      font-family: $clean_font, sans-serif;
      font-size: 11px;
    }
  }
}

.background-blur {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.5);
  //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
}

.join-form {
  //opacity: 0.5;
  //filter: alpha(opacity = 50); /* required for opacity to work in IE */
  padding: 15px;
  margin-top: 10px; // From top of image area.

  .join-today {
    @extend .big-shadow;
    font-size:42px;
  }

  .form-details {
    margin-left: 25px;
    margin-top: 20px;

    .form-row {
      clear: right;
      padding-top: 10px;

      select {
        width: 165px;
      }

      .username-message {
        width: 170px;
        float: right;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    .input-xxlarge {
      width: 318px;
    }
  }
}

.container.full {
  background-color: #ffffff;
  width: 100%;
  margin-top: 20px;
  height: 100px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.container.bottom {
  background-image: url('/assets/lounge/buttom.png');
  background-color: #EEEBE6;
  width: 100%;
  height: 100%;
  margin-bottom:0px;
}

/* as seen in area */
.container.full div.row {
  margin: 0px auto 0px auto;
  width: 940px
}

#wrap div.container.full div.row img {
  position: static;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

/* footer */
.cvv2 {
  width: 44px;
}
