// Place all the styles related to the lounge/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lounge-variables";
@import "lounge-global";


body {
  padding-top: 75px;
}


/* large h2 type text with dropshadow */
.big-shadow {
  font-size:42px;
  font-family: 'museo_sans_900regular';
  text-transform:uppercase;
  font-weight:bold;
  font-style: normal;
  color:#422e4b;
  line-height: 35px;
  text-align: center;
  margin-top: 30px;
  text-shadow:2px 2px #FFF;
}

// #wrap {
//   background-image: url('/assets/lounge/background.png');
//   background-repeat: no-repeat;
//   background-position: center -100px;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
// }

.sample-background {
  background-image: url('/assets/lounge/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  //background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navbar on home page */
.navbar .container {
  height: $header_height;

  @include header-logo-text;

  .login {
    margin: 10px 0px 0px 0px;
    a {
      color: #fff;
    }
  }
  .options {
    input[type=checkbox] {
      margin-top: 4px;
    }
    label {
      font-family: $clean_font, sans-serif;
      font-size: 11px;
    }
  }
}

.background-blur {
  margin-top: 10px;
  margin-bottom: 50px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.5);
}

.join-form {
  .join-today {
    @extend .big-shadow;
    font-size:42px;
    margin-bottom: 20px;
  }
  h5 {
      font-family: $clean_font, sans-serif;
      text-align: center;
      font-size: 18px;
  }
  form {
    margin-top: 20px;
  }
}

#join-button {
  margin-left: 5px;
}

.container.full {
  background-color: #ffffff;
  width: 100%;
  margin-top: 20px;
  height: 100px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.container.bottom {
  background-image: url('/assets/lounge/buttom.png');
  background-color: #EEEBE6;
  width: 100%;
  height: 100%;
  margin-bottom:0px;
}

/* as seen in area */
.container.full div.row {
  margin: 0px auto 0px auto;
  width: 940px
}

#wrap div.container.full div.row img {
  position: static;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;
}


.form-field {
  //clear: right;
  float: left;
  padding-left: 5px;
  .errors {
    .help-inline {
      color: #a371b6;
      margin-top: -20px;
      padding-top: -5px;
      font-family: $clean_font, sans-serif;
      font-size: 12px;
    }
  }

  .input-xxlarge {
    width: 318px;
  }

  .input-mini {
    width: 65px;
  }
  select {
    width: 163px;
  }
}

.form-row {
  clear: both;
}

h4 {
  clear: both;
  margin-left: 5px;
  font-family: $clean_font, sans-serif;
  border-bottom: 1px solid #a371b6;
  width: 330px;
  padding-bottom: 3px;
}

// button 1
// e727c0 -> C70091

.btn-custom2 {
  background-color: hsl(319, 56%, 42%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9409d", endColorstr="#a72f81");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c9409d), to(#a72f81));
  background-image: -moz-linear-gradient(top, #c9409d, #a72f81);
  background-image: -ms-linear-gradient(top, #c9409d, #a72f81);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9409d), color-stop(100%, #a72f81));
  background-image: -webkit-linear-gradient(top, #c9409d, #a72f81);
  background-image: -o-linear-gradient(top, #c9409d, #a72f81);
  background-image: linear-gradient(#c9409d, #a72f81);
  border-color: #a72f81 #a72f81 hsl(319, 56%, 39.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}