// Place all the styles related to the lounge/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lounge-variables";
@import "lounge-global";

$header_color: #f2f0ed;

body {
  padding-top: 80px;
  background-color: $lounge_bg_color;
}

@include shadowed-text(18px);

/* navbar on home page */
.navbar .container {
  height: $header_height;

  @include header-logo-text;

  .login-details {
    font-family: $clean_font, sans-serif;
    font-size: 12px;
    margin: 15px 0px 0px 0px;
    .divider {
      color: $light_purple;
    }
    .welcome {
      font-size: 16px;
      .name {
        color: $light_purple;
      }
    }
    a {
      color: #fff;
    }
    a:hover {
      color: $light_purple;
    };
  }
  .options {
    input[type=checkbox] {
      margin-top: 4px;
    }
    label {
      font-family: $clean_font, sans-serif;
      font-size: 11px;
    }
  }
}

#wrap div.container.full div.row img {
  position: static;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  background-color: $header_color;
  padding: 5px;
  border: 2px solid #eae3d7;
  margin-bottom: 20px;
  .title {
    font-family: $clean_font, sans-serif;
    font-size: 14px;
    margin-left: 5px;
  }

}

div.user_user_profile_birthday.hidden {
  display: none;
}

.profile-data {
  font-family: $clean_font, sans-serif;
  .biography {
    margin-top: 20px;
  }
  .bold {
    font-weight: bold;
  }
  .message-link {
    margin-left: 20px;
    margin-top: 5px;
  }
}

#photos {
  margin-top: 20px;
}

p.completion {
  font-size: 14px;
  font-family: $clean_font, sans-serif;
}

.nav-tabs {
  li {
      a {
        background-color: $dark_purple;
        color: white;
      }
      a:hover {
        background-color: $light_purple;
      }
  }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: $light_purple;
}

.tab-content.details {
  background-color: $sample;
  margin-top: -20px;
  padding-top: 20px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
// {style: 'background-color: #fff; margin-top: -20px; padding-top: 20px'}
.detail-class {
  font-size: 14px;
  font-weight: bold;
  width: 130px;
}

.control-group {
  clear: both;
}

.test-group {
  font-family: $clean_font, sans-serif;
  p {
    padding-top: 10px;
    font-weight: bold;
  }
  .controls {
    padding-bottom: 10px;
    label {
      font-size: 12px;
    }
  }
  border-bottom: 1px solid #ddd;
}