// Place all the styles related to the lounge/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lounge-variables";
@import "lounge-global";

body {
  margin--top: 80px;
  background-color: $lounge_bg_color;
}

hr {
  margin-top: -15px;
}
@include shadowed-text(18px);

/* navbar on home page */
.navbar .container {
  height: $header_height;

  @include header-logo-text;

  .login-details {
    font-family: $clean_font, sans-serif;
    font-size: 12px;
    margin: 15px 0px 0px 0px;
    .divider {
      color: $light_purple;
    }
    .welcome {
      font-size: 16px;
      .name {
        color: $light_purple;
      }
    }
    a {
      color: #fff;
    }
    a:hover {
      color: $light_purple;
    };
  }
  .options {
    input[type=checkbox] {
      margin-top: 4px;
    }
    label {
      font-family: $clean_font, sans-serif;
      font-size: 11px;
    }
  }
}


#wrap div.container.full div.row img {
  position: static;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.profile-details {
  font-family: $clean_font, sans-serif;
  font-size: 11px;
  margin-left: 5px;
  .details-one {
    font-weight: bold;
    margin-bottom: -5px;
    padding: 0px;
    color: $dark_purple;
  }
  .details-two {
    margin-top: 2px;
    padding: 0px;
    line-height: 140%;
  }
}

.quick-search {
  border: 1px solid #eae3d7;
  font-family: $clean_font, sans-serif;
  font-size: 12px;
  background-color: #f2f0ed;
  padding: 15px 5px 5px 15px;
  margin-right: 15px;
  select {
    width: 150px;
  }
}

.big-shadow {
  font-size:16px;
  font-family: 'museo_sans_900regular';
  text-transform:uppercase;
  font-weight:bold;
  font-style: normal;
  color:#422e4b;
  line-height: 35px;
  text-align: left;
  margin-top: 50px;
  text-shadow:2px 2px #FFF;
}
