.login.pull-right
  %form.navbar-form
    %input{type: 'text', class: 'input-medium', placeholder: 'Email'}
    %input{type: 'text', class: 'input-medium', placeholder: 'Password'}
    %button{type: 'submit', class: 'btn btn-purple'} Login
    .options
      %label.checkbox
        %input{type: 'checkbox'}
          Keep me logged in.
        = "|"
        = link_to 'Forgot Password', '#'