.login.pull-right
  = simple_form_for(User.new, url: new_user_session_path, html: {class: 'navbar-form'}) do |f|
    = f.text_field :nickname, placeholder: 'Nickname', class: 'input-medium'
    = f.password_field :password, placeholder: 'Password', class: 'input-medium'
    = f.submit :submit, class: 'btn btn-custom2', value: 'Login'
    / %input{type: 'text', class: 'input-medium', placeholder: 'Email'}
    / %input{type: 'text', class: 'input-medium', placeholder: 'Password'}
    / %button{type: 'submit', class: 'btn btn-custom2'} Login
    / .options
    /   %label.checkbox
    /     %input{type: 'checkbox'}
    /       Keep me logged in.
    /     = "|"
    /     = link_to 'Forgot Password', '#'