.row
  .span11
    - if !flash[:alert].blank?
      .alert= flash[:alert]
    - if !flash[:notice].blank?
      .alert.alert-info= flash[:notice]
    - if !flash[:error].blank?
      .alert.alert-error= flash[:error]