.container.full
  .row
    .span12
      %a{href: 'http://digitallife.today.com/_news/2011/08/18/7408417-new-dating-site-focuses-on-people-who-cant-have-sex', target: '_blank'}
        %img{src: '/assets/lounge/today.png'}
      %a{href: 'http://healthland.time.com/2011/08/18/dating-site-for-people-who-cant-have-sex-takes-off/', target: '_blank'}
        %img{src: '/assets/lounge/time.png'}
      %a{href: 'http://www.nydailynews.com/life-style/love-sex-cancer-survivor-launches-dating-website-people-sex-article-1.948203', target: '_blank'}
        %img{src: '/assets/lounge/daily_news.png'}
      %a{href: 'http://www.huffingtonpost.com/2011/08/12/2date4love-no-sex-dating-website-cancer_n_925574.html', target: '_blank'}
        %img{src: '/assets/lounge/the_huffington.png'}
      %a{href: 'http://abcnews.go.com/Health/cancer-survivor-creates-website-sex-love/story?id=14285437', target: '_blank'}
        %img{src: '/assets/lounge/good_morning.png'}