.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .branding.pull-left
        .logo
        .live-text= 'Live love like your life!'
        .different-text= 'A different kind of intimacy.'

      = render 'lounge/shared/login-box'