abbr[title=required] {
  color: red;
}

#order_card_expires_on_2i {
  width: 75px;
}

#order_card_expires_on_1i {
  width: 75px;
}


span.label.current {
  background-color: #94ba65;
  font-weight: normal;
}

span.label.charter {
  @extend span.label.current;
  background-color: #2790b0;
}

span.label.free {
  @extend span.label.current;
  background-color: #999999;
}


.qq-upload-list {
  text-align: left;
}

/* For the bootstrapped demos */
li.alert-success {
  background-color: #DFF0D8;
}

li.alert-error {
  background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
  display: inline;
}