%p= link_to 'Write Your Profile', 'http://2date4love.com/relationship-articles/write-your-profile/'
%p Read easy expert advice from our community on getting more attention from your profile.

%p The Dance of Intimacy
%p You're here to find the right type of relationship.  We understand.

%p Success Stories
%p Read about others in our 2date4love.com community