%h4 Relationship Articles

%p.bold= link_to 'Write Your Profile', article_profile_path
%p Read easy expert advice from our community on getting more attention from your profile.

%p.bold= link_to 'The Dance of Intimacy', article_intimacy_path
%p You're here to find the right type of relationship.  We understand.

%p.bold= link_to 'Success Stories', success_path
%p Read about others in our 2date4love.com community