%h5 FAQ

%p.question 1. What do I need to know about photos on 2date4love?

%p.answer By uploading a photo you agree that you have the right to post this picture and that it does not violate the Terms of Service . Any unethical photos will be deleted. For info on uploading your photos refer to number 7 on this page.

%p.question 2. What should I know about my privacy on 2date4love?

%p.answer At 2date4love your privacy is extremely important to us. Due to the sensitive nature of 2date4love and our desire to protect the privacy of our members, you will not be able to view any profiles until you are a member. You will then only be able to view 'your matches' on the criteria that you have entered (the multi-colored dots and questions you've answered). Read more about the precautions we’ve taken on the Our Privacy page

%p.question 3. What is the dashboard?
%p.answer Think of your dashboard as a home base for you when you sign-in to your account. Your dashboard enables you to navigate the site; all your information you selected about yourself, your inbox & your matches. Click the 'dashboard' link when in doubt, it will return you to the main area where you started.

%p.question 4. How do I change my password,or email address?
%p.answer To change or edit any of your information go to the 'Edit Profile' link at the top of each page.

%p.question 5. Do my matches receive emails as well?
%p.answer Yes, the other member will be sent an email from 2date4love telling them that someone is interested in them.

%p.question 6. How do I email/send a message on 2date4love?
%p.answer On any profile page that you are viewing, simply click the "Send Message" button to send a message to the person who's profile you are viewing.

%p.question 7. How do I add (upload) photos to my profile?
%p.answer Fix this to match current upload process.

%p.question 8. How do I find my matches?
%p.answer To find your matches you MUST choose your "LIKES", which you can do on the 'Edit Profile' page. Your matches will appear on your 'dashboard" page. By default it will search based on your likes. The "Quick Search" can be used to modify your search without modifying your profile. Remember, the more "likes" you choose, the better your chances of finding a match.  If you have no matches, consider changing your search radius. Eventually there will be more and more people joining 2date4love, so if you don't have a match yet, consider the possibilities to be just around the corner.

%p.question 9. How do I edit my profile?
%p.answer At the top of each page there is a link titled 'Edit Profile', simply make changes and click the 'Save' button.

%p.question 12. How do I Look at the member choices before joining?
%p.answer Due to the sensitive nature of 2date4love and our desire to protect the privacy of our members, you will not be able to view any profiles until you are a member.

%p.question 13. What if I have technical problems?
%p.answer Please contact info@2date4love.com on the Contact page.