%h4 IS A FRAUDSTER MESSAGING YOU?

%p.bold Tips to Avoid Dating Scammers

%p 2date4love is committed to protecting your privacy. Unfortunately, scammers, or unetheical people can negatively affect any website. We advise you to be cautious about who you connect and share personal information with. Please review the following tips to help you avoid scammers on our site.

%ol
  %li Avoid connecting with members who immediately ask you to email their personal email accounts as opposed to messaging through the 2date4love site
  %li Do not reply to messages or emails regarding a lottery or sweepstakes winning, a loan, money transfer or inheritance
  %li Take the following steps if you’ve already given personal information out to someone you think could be a potential scammer (including your full name, address, bank account information, credit card information, etc.):
  %ol
    %li Contact your bank and stop any payments
    %li Contact your credit card company if there are fraudulent charges
    %li File a police report

  %li Be cautious of members who are overtly complementary, act as if they are already on an intimate level with you, or seemingly tell you what you want to hear
  %li Do not accept checks from anyone or agree to deposit checks
  %li Do not agree to loan another member money

%p Please partner with us to help prevent scammers from affecting the user experience on 2date4love. If you believe any members are being unethical or inappropriate, please contact info@2date4love.com immediately. We will do our best to address the issue and help prevent fraudulent members from interfering with your ability to find love.