%h4 INTIMACY

%p.bold Connecting without Sex

%p Each day, sex bombards us from all angles. From the magazines we grab at the check-out counter to the music streaming from our radios, it’s 2012 and sexual implications are everywhere. Having intercourse restrictions can be a very isolating feeling.

%p With age, we learn that real love and true companionship don’t come in the form of sexy lingerie and massage oils. Instead, true intimacy comes from a deeper connection and a more meaningful mental and physical state of being—yes, true intimacy comes from something more important than just sex  .

%p.bold Sex vs. Intimacy

%p To most, the term “sex” means intercourse; all sexual behaviors prior to the main event, like kissing, softly touching, and some small sexual chatter whispered in your ear is all a part of sexual pleasure. Sex is a priority to a majority of adults whether you are in a relationship or are anticipating being in a relationship. What we all need to remember and focus on is the idea of being sexual is really something much more intimate than just having intercourse. When two people are attracted, their journey together will be much more fullfilling if their focus isn't on their intercourse limitations but what's in their mind and other sexual pleasures of touching and sharing the celebration of life together!

%p.bold Plunging Beyond Intercourse

%p Lasting relationships plunge beyond sexual intercourse; they involve deep mental connections and commonalities. There are some circumstances that force us to explore new ways of sexually expressing ourselves and these mental connections become even more important to master. For example, you or your partner may have a medical condition that prevents sexual intercourse from feeling pleasurable or you may simply not feel the drive you used to. No matter the case, it’s important to know that you can still connect deeply with someone you care about without engaging in the act of sexual intercourse. A few ways you can connect with a partner without engaging in sexual intercourse are through:

%ul
  %li Sexual touch
  %li Intimate talking
  %li Tantric sex

%p Each of these “sexual intercourse alternatives” can enable you to reach a heightened sense of physical pleasure with the right partner and allow you to connect on a deeper level mentally and emotionally this can be magic! When two people give something of themself to another, and have a strong sense of who they are, the road to a balanced lasting relationship is an adventurous journey to fun love!