%h4 OUR PRIVACY POLICY

%p “Company” or “we” shall mean New Expectations Dating, Inc., a California Corporation. “Website” shall mean 2date4love.com and other websites as added from time to time by the Company. Protecting your privacy is very important for us, and we respect both the privacy of visitors to our Website and our registered users and members.

%p.bold How we collect personal information
%p Through your registration as a user or as a member, we collect personally identifying information such as your name, address, telephone number, e-mail address, and other similar information. The personal information that we collect from you is used to enable features for your convenience and to provide the services or carry out the transactions you have requested or authorized. The information also may be used to analyze and improve our services.

%p We occasionally may hire other companies to provide limited services on our behalf, such as for performing statistical analysis of our services.  In such events, we only will provide those companies with such personal information as required to deliver the service, and those companies will not have permission to use that information for any other purpose.

%p In addition to the information you provide, we also may collect information during your visit to our Website, through information-gathering tools, such as Web beacons (that allows this site to collect web log information) or cookies (a piece of information that our web server sends to your browser file when you access a website).  These tools collect certain traffic information that your browser sends to a website, such as your browser type and language, access times, and the address of the website from which you arrived.  They may also collect information about your Internet Protocol (IP) address, click stream behavior (i.e. the pages you view, the links you click, and other actions you take in connection with our Website).

%p In addition to the above, we also may access or disclose information about you, including the content of your communications, in order to: (a) comply with the law or respond to a valid court order; (b) protect the rights or property of the Company or our customers, including the enforcement of our agreements or policies governing your use of the Website; or (c) act on a good faith belief that such access or disclosure is necessary to protect the personal safety of the Company employees, customers, or the public.

%p You should be aware that this site is not intended for, or designed to attract, individuals under the age of 18. We do not collect personally identifiable information from any person that we actually know is an individual under the age of 18.

%p.bold Links to other websites
%p The Website may provide links to third-party websites for your convenience and information.  If you access those links, you will leave the Website.  We do not control those sites or their privacy practices, which may differ from our practices.  We do not endorse or make any representations about third-party websites.  The personal data that you choose to provide to such third parties or that otherwise may be collected by them is not covered by this Privacy Statement.  We encourage you to review the privacy policy of any company before submitting your personal information.  We also may provide social media features on our Website that enable you to interact with us on various social media sites.  Your use of these features may result in the collection or sharing of information about you, depending on the feature.  We encourage you to review the privacy policies and settings on the social media sites with which you interact to make sure you understand the information that could be shared by those sites.

%p.bold Privacy Principles
%p When we collect personal information from you on our website, we follow the following privacy principles regarding the collection, use and retention of personal data:
%ol
  %li Notice.  When we collect personal information, we provide timely and appropriate notice describing what personal information we are collecting, how we will use it, and the types of third parties with whom we may share it.
  %li Choice.  We will give you the opportunity to choose when sensitive information is to be disclosed to a third party or used for a purpose other than the original purpose, at a time and in a context in which you will be making a decision about your personal information, and we’ll respect the choices you make.
  %li Relevance. We will collect personal information only for specific, identified purposes, and we will not use it for other purposes without obtaining your consent.
  %li Retention.  We will keep your personal information only for as long as we need it for the purposes for which we collected it, or as permitted by law.
  %li Accuracy. We will take appropriate steps to make sure the personal information in our records is accurate
  %li Access. We will provide ways for you to reasonably access your personal information, so you can correct, amend, or delete inaccuracies.
  %li Security. We take appropriate physical, technical, and organizational measures to protect your personal information from unauthorized access, use or disclosure, with appropriate storage of the information on computer systems with limited access, located in controlled facilities. And when we transmit highly confidential information (such as a credit card number or password) over the Internet, we protect it through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
  %li Sharing. Except as described in this policy, we will not share your personal information with third parties without your consent.
  %li International Transfer. If we transfer your personal information to another country, we will take appropriate measures to protect your privacy and the personal information we transfer
  %li Enforcement. We will regularly review how we are meeting these privacy principles.

%p.bold Amendment to this privacy statement
%p Occasionally, we may update this privacy statement in order to (i) take into account, to the extent we choose to do so, new regulatory or best practices framework, such as the EU- US Safe Harbor Framework, the FTC proposed framework for business and policymakers on consumer privacy protection[1]; or (ii) reflect changes in our services, and customer feedback.  If we do change our privacy statement, we will post the revised statement here, with an updated revision date at the top of this statement.  If we make material changes to our statement, we may also notify you by other means, such as sending an email or posting a notice on our home page.

%p.bold For more information
%p We welcome your comments regarding this privacy statement. If you want to access your information or if you have questions about our privacy practices, or believe that we have not adhered to it, please contact us at privacy@2date4love.com

%p Preliminary staff report published on December 2010