%h4 SAFETY IN OUR ONLINE COMMUNITY

%p.bold Protect Your Privacy and Account

%p If you access your account from a public or shared computer, be sure that others can’t view or record your login or profile information.

%p.bold Carefully Choose Who You Share Your Personal Information With

%p As a member of 2date4love, we caution you to never reveal your personal identity to other users. Don’t include your last name, email address, home address, telephone number, place of work or any other identifying personal information in your profile, this includes your dashboard, chats, emails, or personal messages. If you do choose to call another user via phone, use your phone’s privacy features, such as blocking Id (*69).

%p.bold Be Cautious of Clicking on URL Links

%p We understand that URL links can be shared by matches through emails and chats. But we caution you to use your best judgment before clicking on any URL link that you are not familiar with. You are responsible and liable for any URL link you click on to access other Internet sites.

%p.bold First Date Safety

%p If you meet someone on 2date4love.com and want to take your relationship to the next level by meeting in person, it can be thrilling and exciting. But don’t let your excitement get the best of you. You must still exercise caution when meeting your match on the first date. We recommend taking the following precautions when meeting a match in person:
%ol
  %li Choose the time of your date wisely. Avoid meeting late at night, instead opt to meet during the day for coffee or lunch
  %li Meet in a public place where there lots of people around
  %li If you do choose to drink alcohol on your first date, limit your alcohol consumption
  %li Take your own transportation on your date and don’t allow your date to pick you up at your home
  %li Tell at least one friend or family member about your date and be sure they are “on call” in the case that you need to contact them
  %li Be sure to bring your cell phone with you on your date
  %li Don’t go home with your match on your first meeting, even if you feel completely at ease with how the date is going