%h4 OUR STORY

%p 2date4love.com is a hopeful reminder that love, companionship and intimacy are within reach!

%p Twelve years ago, I was diagnosed with Stage IV cervical cancer. My life took a dramatic turn in a direction I didn’t expect. With the help of my doctors, I won my battle against cancer. My body, however, has never been the same. I am still the same passionate woman who loves life and thrives on excitement.

%p I decided to launch this website for anyone with intercourse limitations, no matter the reason!

%p Despite these challenges, I have had some surprising experiences, I'm so happy to profess! I am amazed at the understanding men I've dated. Having a companion to share life with as well as laugh together is all we really want at the end of everyday. I'm so gratefull that this idea came to me, so that I can help the millions of others who live silently thinking they'll always be alone. I'm also so happy this has given me the freedom of a hopefull long term relationship of love and happiness...

%p I invite you to join me and start to live love like your life!

%img{src: '/assets/laura_headshot.jpg', style: 'float: left; border: 1px solid', border: '1px'}
  .info{style: 'padding: 5px; float: left'}
    %p.bold Laura B.
    %p Founder