%h4 SUCCESS STORIES

%p.bold We are looking for 2date4love ambassadors!
%p If you are interested in becoming a 2date4love ambassador, email us at info@2date4love.com to share your story. Tell us what 2date4love means to you and how it has changed your life. If you have found someone special at 2date4love, please share your story!

%p.bold See what Renee M. has to say about 2date4love:
%p I’ve never joined a dating site and never thought I would; until I found 2date4love.com, which has given me the hope and courage I’ve needed to delve back into the dating scene. It has also helped me feel more comfortable about who I really am, while offering me the privacy and control I desire when looking for a partner.After battling Ovarian cancer, I am enjoying life as a healthy woman who has overcome a great hurdle. My health is now intact and I’m facing a bright and happy future, cancer-free. However, due to the radiation and surgeries I endured while being treated for cancer, my body doesn't function as it used to, which has hindered my sexual abilities.

%p I am smart, fun and very social. However, until now, I’ve shied away from dating and haven’t opened up to others as I truly wanted to. Although I’m not ashamed of who I am, I felt a bit left out when it came to the dating scene, which became apparent when I interacted with men. When men approached me, I would immediately act uninterested even if, in some cases, I was actually interested. I anticipated rejection and found it easier to dismiss them; this way I could prevent any potential hurt.  I also got defensive when topics related to sexuality and relationships arose, which made me feel like I was in my own little bubble, separate from the rest of the world. Sadly, I resorted to the notion that I may be destined to spend the rest of my life alone.But then I heard about 2date4love. As I explored the site further, all of these emotions and defenses started to fade away and I felt myself softening to the idea of dating and becoming intimate with someone. I was encouraged by the fact that 2date4love is committed to privacy, enabling each member to be in complete control of how much information they would like to share. Obviously, privacy is a big issue when it comes to any dating site, but in this particular case, I find it to be even more important. Knowing how private the site is, helped gained my trust and put my previous worries about sharing my information at ease.  I can also relate with Laura’s story and I’m inspired by her and her desire to help people like me find love and companionship.

%p Because of 2date4love I’m excited to begin dating again, and I’m taking the steps needed to help me break down my barriers to now introduce love and intimacy into my life.

%p -Renee M.,
%p San Diego, CA