%h4 ONLINE DATING TIPS

%h3= link_to 'Safety in Our Online Community', article_safety_path
%p Simple steps to enjoy meeting others here at 2date4love.com

%h3=link_to 'Is a Fraudster Messaging You?', article_fraud_path
%p Online scams are out there.  Here are a few ideas to avoid them.

Report Problems or Concerns Immediately

2date4love takes user problems, complaints and concern extremely seriously. If you have any problems or concerns about a particular match, contact us so that appropriate steps can be taken to keep our website safe and secure for our member's of our unique and growing online community.