%h4 WRITE YOUR PROFILE

%p.bold Make Yourself Interesting

%p Writing your profile for better results in matching and getting to the first date is the goal. While getting to know someone new, please email only through 2date4love’s private message service to ensure your safety.

%p In writing your profile, be truthful and position the truth as favorably as possible. If you have a profession that could be stereotyped, use alternative descriptions of your career. For example, if you are a prison guard you could generalize and say that you’re in law enforcement.

%p Mention some of your interesting attributes. Maybe you play a musical instrument, volunteer for the Boy Scouts of America, maybe you’re a Big Brother to someone less fortunate than you, or maybe you speak multiple languages or have traveled abroad.

%p What do you do five days a week? Maybe there’s a T.V. show you watch and there’s a character you really relate to. Mention that and why… you’re aiming for something in common.

%p Try to show different aspects of yourself. Maybe you read a lot of books written by one particular author. Maybe you love to hike; you could chat about your excursion to the top of Mt. Whitney. How about sports you like and are a big fan of?  Mention some names and or games that were interesting to you.

%p Ask questions.  If you weave 3-4 questions in your profile the other person’s brain becomes more attentive as you are incorporating them, awakening  their subconscious desire to communicate with you.

%p If you’d like to incorporate “what you’re looking for”, try to keep it to 3-5 open-ended sentences so that the other person can fit themselves into your criteria. If you’re too specific the other person may feel like they don’t measure up. Send the message that you’re interested in a relationship!

%p And lastly ….upload a couple different photos of yourself. Current photos are preferable.  We all love pictures… the best thing any one in our special community could do is get some photographs shot by a professional! It’s so worth the money, you’ll use them more than you think in this digital age we live in!

%p Happy dating!

%P LIVE LOVE LIKE YOUR LIFE