- if image.present?
  = link_to lounge_profile_path(user.nickname) do
    %img{src: "#{image.thumb.url}"}
- else
  = link_to lounge_profile_path(user.nickname) do
    %img{src: '/assets/lounge/default-avatar.jpg', width: '130px', height: '109px'}

