/* Colors */

$light_purple: #E8E0EE;
$dark_purple: #675370;
$gray: #7D808A;
$link_color: #000;
$green: #A69E77;

/* Actual reusable CSS links that make more sense */
$link_hover_color: $gray;
$logo_color: $light_purple;
$logo_green: $green;
$logo_color_2: $dark_purple;
$footer_logo_color: $gray;

/* FONTS */
$cursive_font: 'Petit Formal Script';
$clean_font: 'Oxygen';

$header_height: 75px;