//lounge-global

.navbar-inverse .navbar-inner {
  color: #ffffff;
  background: #685372; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4NTM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODZkOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #685372 0%, #886d96 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#685372), color-stop(100%,#886d96)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #685372 0%,#886d96 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #685372 0%,#886d96 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #685372 0%,#886d96 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #685372 0%,#886d96 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#685372', endColorstr='#886d96',GradientType=0 ); /* IE6-8 */
}

/* Logo & promo text definitions */
@mixin header-logo-text {
  .branding {
    .live-text {
      color: $logo_color;
      font-family: $cursive_font, cursive;
      font-size: 24px;
      margin: 15px 0px 0px 100px;
    }

    .different-text {
      font-family: $clean_font, sans-serif;
      margin: 10px 0px 0px 100px;
    }

    .logo {
      background-image: url('/assets/lounge/2date4love-logo.png');
      background-size: 70px 70px;
      width: 70px;
      height: 70px;
      margin: 0px 0px 0px 15px;
      float: left;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/lounge/2date4love-logo.png',
sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/lounge/2date4love-logo.png', sizingMethod='scale')";
    }
  }
}

@mixin shadowed-text($font_size) {
  .big-shadow {
    font-size: $font_size;
    font-family: 'museo_sans_900regular';
    text-transform:uppercase;
    font-weight:bold;
    font-style: normal;
    color:#422e4b;
    line-height: 35px;
    margin-top: 10px;
    text-shadow:2px 2px #FFF;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.off-green {
  color: $logo_green;
}

.container.bottom {
  background-image: url('/assets/lounge/buttom.png');
  background-color: #EEEBE6;
  width: 100%;
  height: 100%;
  margin-bottom:0px;
}

.container.bottom div.row {
  margin: 0px auto 0px auto;
  width: 940px;
  padding-top: 30px;
  padding-bottom: 10px;
  .live-text {
    color: $footer_logo_color;
    font-family: $cursive_font, cursive;
    font-size: 24px;
    margin: 0px 0px 0px 0px;
  }

  .different-text {
    color: $footer_logo_color;
    font-family: $clean_font, sans-serif;
    margin: 10px 0px 0px 0px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background-image: url('/assets/lounge/footer_mark.png');
    background-repeat: no-repeat;
    background-position: 0 .4em;
    padding-left: 1em;
  }
  ul li {
    font-family: $clean_font, sans-serif;
    font-size: 14px
  }
}

.copyright {
  color: $footer_logo_color;
  text-align: center;
  padding-top: 40px;
  font-size: 12px;
  font-family: $clean_font, sans-serif;
}

.logo-text {
  color: $logo_color_2;
  font-family: $clean_font, sans-serif;
  font-size: 24px;
  margin-left: 10px;
  padding: 10px 0px 0px 0px;
}

a {
  color: $link_color;
}

a:hover {
  color: $link_hover_color;
}