= form_for [:lounge, @user, Photo.new], html: {id: 'profile_upload'} do |p|
  .row
    .row{style: 'margin-top: -20px'}
      .span10{style: 'margin-left: 60px'}
        #photos
          %ul.thumbnails
            = render @user.photos
        %span.btn.btn-success.fileinput-button.btn-medium
          %i.icon-plus.icon-white
          %span Add Profile Photos
          %input{type: 'file', name: 'photos[photo_file]', multiple: 'multiple'}
%script{id: 'template-upload', type: 'text/x-tmpl'}
  .row
    .span10{style: 'margin-left: 60px'}
      .upload
        {%=o.name%} - Please wait until photo appears.
        .progress
          .bar{style: 'width: 0%'}